* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x:hidden !important;
}

body {
	background: #111;
	font-family: 'Nunito', sans-serif;
	color:#fefefe;
	overflow-x:hidden !important;
}

::-webkit-scrollbar {
	width:0;
}

.sidebar {
	position:fixed;
	top:0;
	left:0;
	width:25vw;
	height:100vh;
	background:#111;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	outline: 1px solid #999;
	z-index:3;
}

.sidebar img {
	width:7.5vw;
	margin-bottom:5vh;
}

.sidebar .social {
	width:60%;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	margin-top:5vh;
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
}

.sidebar .social .cell {
	width:3vw;
	height: 3vw;
	border-radius:50%;
	background:#222;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s ease-out;
}

.sidebar .cell:hover {
	background:#fefefe;
	transition: background 0.2s ease-out;
}

.sidebar .cell:hover a {
	color:#222;
	transition: color 0.2s ease-in-out;
}

.sidebar a {
	text-decoration:none;
	font-size:2vw;
	color:#fefefe;
	text-transform: uppercase;
	font-weight:600;
	margin-top:1vh;
	margin-bottom:1vh;
	display: inline-block;
	padding-top:0.5vh;
	padding-bottom:0.5vh;
	position: relative;
	transition: color 0.2s ease-in-out;
}

.sidebar a:before {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:2px;
	border-radius:1px;
	background:#fefefe;
	transform: scale(0);
	transition: transform 0.2s ease-in-out;
}

.sidebar a:hover:before {
	transform:scale(1);
	transition: transform 0.2s ease-in-out;
}

.sidebar .social .cell a {
	font-size:1.5vw;
}

.sidebar .social .cell a:before {
	content:'';
	background:none;
	height:0;
}

.hero {
	width:75vw;
	padding-left:25vw;
	height:100vh;
	display:flex;
	align-items:center;
	position:relative;
}

.hero .episode {
	position: absolute;
	width:25vw;
	height:70vh;
	background:url("../Images/molonglo.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	top:0;
	right:5vw;
}

.hero .watermark {
	position:absolute;
	transform:rotate(-90deg);
	top:40%;
	left:1vw;
	font-size:7vw;
	color:rgba(255,255,255,0.1);
	text-transform: uppercase;
	margin-bottom:0.5vh;
}

.hero .watermark:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:8px;
	border-radius:4px;
	background:rgba(255,255,255,0.1);
	transform:scale(0,1);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.hero .watermark:hover:before {
	transform:scale(1,1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.hero h1 {
	font-size:4vw;
	margin-bottom:5vh;
}

.hero .title {
	padding-left:5vw;
	width:35vw;
	margin-left:0;
	position:relative;
	z-index:2;
}

.hero a {
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5vw;
	display: inline-block;
	padding:2vh 3vw;
	border: 1px solid #fff;
	color:#fefefe;
	position: relative;
	transition:background 0.2s ease-out, color 0.2s ease-in-out;
}

.hero a:hover {
	background:#fefefe;
	color:#111;
	transition:background 0.2s ease-out, color 0.2s ease-in-out;

}

.hero .overlay {
	background:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
}

.hero .featured {
	display:flex;
	padding-top:7.5vh;
	padding-bottom:15vh;
	align-items: center;
}

.hero .featured hr {
	width:4vw;
	height:1px;
	background:#fefefe;
	margin-right:1vw;
	outline:none;
	border:none;
}

.hero .featured h3 {
	font-weight:300;
}

.hero .episode-info {
	width:15vw;
	height:40vh;
	background:#eee;
	color:#111;
	position:absolute;
	bottom:-30vh;
	left:-10vh;
	padding:5vh 5vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.hero .episode-info * {
	margin:1.5vh 0;
}

.hero .episode-info h2 {
	font-size:2vw;
	font-weight:600;
}

.hero .episode-info p {
	font-size:1vw;
}

.hero .episode-info .guest {
	display:flex;
}

.hero .episode-info .guest .image {
	width:7.5vh;
	height:7.5vh;
	background:#ccc;
	border-radius:5vh;
	margin-right:1vw;
}

.hero .audio {
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top:10vh;
}

.hero .waveform {
	width:15vw;
}

.hero .play {
	border:none;
	padding:0;
	margin-left:2vw;
	transition: transform 0.2s ease-in-out;
}

.hero .play:hover {
	background:none;
	transform:scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.hero .play img {
	width:3.5vw;
}

.guest .name * {
	margin:1vh;
}

.guest .name h4 {
	font-size:1.1vw;
	font-weight:600;
}

.guest .name .days {
	font-size:1vw;
	font-weight:300;
}

.hero .dots {
	position:absolute;
	top:35vh;
	left:-12vw;
	z-index: 1;
	width:70%;
	transition: transform 0.3s ease-in-out;
}

.hero .dots:hover {
	transform: scale(1.1);
	transition:0.3s ease-in-out;
}

.hero .dots-phone {
	position:absolute;
	top:50%;
	left:60%;
	z-index: 1;
	width:30%;
	transition: transform 0.3s ease-in-out;
	display: none;
}

.hero .dots-phone:hover {
	transform: scale(1.1);
	transition:0.3s ease-in-out;
}

.episodes {
	width:75vw;
	padding-left:25vw;
	display:flex;
	flex-direction:column;
	margin:5vh 0;
}

.episodes a {
	align-self: center;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5vw;
	display: inline-block;
	padding:2vh 3vw;
	border: 1px solid #fff;
	color:#fefefe;
	position: relative;
	transition:background 0.2s ease-out, color 0.2s ease-in-out;
}

.episodes a:hover {
	background:#fefefe;
	color:#111;
	transition:background 0.2s ease-out, color 0.2s ease-in-out;

}

.episodes > div {
	margin-top:1.5vh;
	margin-bottom:1.5vh;
	margin-left:5vw;
}

.episodes .title {
	display:flex;
	align-items: center;
}

.episodes .title hr {
	width:60px;
	height:2px;
	background: #fefefe;
	margin-right:1vw;
	outline:none;
	border:none;
}

.episodes .title h1 {
	font-size:2vw;
	text-transform: uppercase;
}

.episodes .episode {
	display:grid;
	width:60vw;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background:#222;
	margin-top:5vh;
	grid-row-gap:3vh;
}

.episodes .episode > * {
	padding:2vh 2vw;
}

.episodes .episode .image {
	width:300px;
	height:300px;
	background:url("../Images/molonglo.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.episodes .episode .text {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-left:3vw;
}

.other .episodes .episode .text {
	margin-left:0;
}

.episodes .episode .social .cell a {
	padding:0;
	border:none;
}

.episodes .episode .social .cell a:hover {
	background:none;
}

.episodes .episode .social .cell {
	display:flex;
	align-items: center;
	justify-content: center;
	transition:background 0.2s ease-out;
}

.episodes .episode .social .cell:hover {
	background:#fefefe;
	transition:background 0.2s ease-out;
}

.episodes .episode .text * {
	margin:1vh 0;
}

.episodes .episode .text h2 {
	font-weight:600;
	font-size:2.25vw;
}

.episodes .episode .social {
	width:70%;
	background:#222;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	align-content: center;
	grid-row-gap: 3vh;
}

.episodes .episode .social div {
	width:3vw;
	height:3vw;
	border-radius:50%;
	background:#333;
}

.episodes .episode h3 {
	font-weight:400;
	font-size: 1.5vw;
}

.episodes .episode p {
	font-weight:300;
}

.other .episodes {
	padding-left:0;
	display:grid;
	margin-top:0;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	width:60vw;
	grid-column-gap:1vw;
}

.other .episodes .episode {
	margin-left:0;
	display:flex;
	flex-direction:column;
	width:19vw;
}

.other .episodes .episode > * {
	padding:0;
}

.other .episode .image {
	width:19vw;
	height:19vw;
	margin-bottom:3vh;
}

.other .episode .info {
	padding:0 2vw;
	padding-bottom:3vh;
	text-align:center;
}

.other .episode .social {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-row-gap:1vh;
	width:100%;
	margin-top:3vh;
}

.other .episode .social div {
	width:3vw;
	height:3vw;
}

.about {
	display:flex;
	flex-direction:column;
	width:75vw;
	padding-left:25vw;
	justify-content: center;
	height: 100vh;
	position:relative;
	overflow-x:hidden !important;
}

.about h1 {
	font-size:5vw;
}

.about .watermark {
	position:absolute;
	top:12%;
	left:30%;
	font-size:12vw;
	color:rgba(255,255,255,0.1);
}

.about .watermark:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:8px;
	border-radius:4px;
	background:rgba(255,255,255,0.1);
	transform:scale(0,1);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.about .watermark:hover:before {
	transform:scale(1,1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.about > * {
	margin-left:5vw;
	position:relative;
	z-index: 3;
}

.about p {
	margin:1.5vh 5vw;
	margin-right:20vw;
	font-size:1.25vw;
	line-height:1.6;
}

.about .image {
	width:25vw;
	height:70vh;
	position:absolute;
	background:url("../Images/me.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	z-index: 1;
	top:60%;
	right:10vw;
	transform:translateY(-50%);
}

.about .image:hover > .overlay {
	transform:scale(0,1);
	transition:transform 0.3s ease-in-out;
	transform-origin:right;
}

.about .image .overlay {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	margin-left:0;
	transition:transform 0.3s ease-in-out;
	transform-origin:left;
}

.news {
	width:75vw;
	height:100vh;
	padding-left:25vw;
	position:relative;
	background:#111;
	display:flex;
	flex-direction:column;
	justify-content: center;
}

.news > * {
	margin-left:5vw;
}

.news h1 {
	font-size:5vw;
	margin-bottom:5vh;
}

.news .watermark {
	font-size:7vw;
	transform:rotate(90deg);
	position:absolute;
	top:45%;
	right:0;
	margin-left:0;
	color: rgba(255,255,255,0.1);
	margin-bottom:0;
}

.news .grid {
	width:60vw;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.news .watermark:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:8px;
	border-radius:4px;
	background:rgba(255,255,255,0.1);
	transform:scale(0,1);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.news .watermark:hover:before {
	transform:scale(1,1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.news .main .image {
	width:20vw;
	height:50vh;
	background:url("../Images/molonglo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left:5vw;
	position:relative;
}

.news .main .image .info {
	position: absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.75);
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transform:scale(1,0);
	transition:transform 0.5s ease-in-out;
	transform-origin:bottom;
	transition-delay: 0.25s;
}

.news .image .info * {
	padding:1vh 2vw;
	opacity: 0;
	transform:translateY(20px);
	transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
}

.news .image .info h2 {
	font-size:2.5vw;
	font-weight:600;
}

.news .image .info p {
	font-size:1.25vw;
	font-weight:300;
}

.news .image:hover > .info {
	transform:scale(1,1);
	transition:transform 0.5s ease-in-out;
	transform-origin:bottom;
}

.news .image:hover > .info * {
	opacity:1;
	transform:translateY(0px);
	transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
	transition-delay: 0.45s;
}

.news .other > * {
	margin:5vh 0;
}

.news .other hr {
	width:20vw;
	height:1px;
	border: none;
	outline: none;
	background-color: #fefefe;
	margin-top: 1vh;
	transition: width 0.3s ease-in-out;
}

.news .other .cell:hover > hr {
	width:25vw;
	transition: width 0.3s ease-in-out;
}

.news .other h3 {
	font-size:2vw;
	font-weight:400;
}

.contacts {
	width:75vw;
	height:100vh;
	padding-left: 25vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background:#111;
}

.contacts > * {
	margin-left:5vw;
	margin-top:3vh;
}

.contacts h1 {
	font-size:5vw;
	margin-bottom:3vh;
}

.contacts .watermark {
	font-size:10vw;
	color:rgba(255,255,255,0.1);
	position: absolute;
	top:7.5%;
	right:-3%;
}

.contacts .watermark:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:8px;
	border-radius:4px;
	background:rgba(255,255,255,0.1);
	transform:scale(0,1);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.contacts .watermark:hover:before {
	transform:scale(1,1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.contacts p {
	font-size:1.5vw;
	font-weight: 300;
	padding-right:10vw;
}

.contacts .social {
	width:60vw;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.contacts .social div {
	width:7.5vw;
	height: 7.5vw;
	border-radius:50%;
	background:#222;
}

.footer {
	width:75vw;
	padding-left:25vw;
	height:25vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	align-items: center;
}

.footer p {
	font-weight:300;
	font-size:1vw;
}

.footer .social {
	width:60vw;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin-top:3vh;
}

.footer .social .cell {
	width:5vw;
	height: 5vw;
	border-radius:50%;
	background:#222;
	display:flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s ease-in-out;
}

.footer .cell i {
	font-size:2vw;
	color:#fefefe;
	transition: color 0.2s ease-in-out;
}

.footer .cell:hover {
	background:#fefefe;
	transition: background 0.2s ease-out;
}

.footer .cell:hover i {
	color:#222;
	transition: color 0.2s ease-in-out;
}

.contacts .cell {
	display:flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s ease-out;
}

.contacts .cell i {
	font-size:3vw;
	color:#fefefe;
}

.contacts .cell:hover {
	background:#fefefe;
	transition: background 0.2s ease-out;
}

.contacts .cell:hover i {
	color:#222;
	transition: color 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
	.hero .episode {
		display:none;
	}

	.hero .dots-phone {
		display:block;
	}

	.hero .title {
		width:100%;
		text-align:center;
	}

	.hero .watermark {
		font-size:10vw;
	}

	.hero h1 {
		font-size:6vw;
	}

	.hero a {
		font-size:2vw;
	}

	.episodes .episode {
		display:flex;
		flex-direction: column;
		width:300px;
		text-align:center;
		align-items: center;
	}

	.episodes .episode .image {
		padding:0;
	}

	.episodes .episode .social {
		width:40%;
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	}

	.episodes {
		align-items: center;
	}

	.episodes hr {
		display: none;
	}

	.about p {
		font-size:1.5vw;
		padding-right:15%;
	}

	.about h1 {
		font-size:7vw;
		padding-right:30%;
	}

	.news .main .image {
		width:50vw;
	}

	.news {
		align-items: center;
	}

	.news .other {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.news .other hr {
		width:100%;
	}