* {
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width:0px;
}

.cursor-dot {
    position:absolute;
    top:0;
    left:0;
    width:1vw;
    height:1vw;
    border-radius:100%;
    background-color: white;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index:10;
}

#first, #second, #third, #arrow-black, #arrow-black-two, #play, #read {
    position:absolute;
    z-index:-1;
    transform:translate(-50%, -50%);
    pointer-events: none;
    top:0;
    left:0;
    opacity:0;
    transition: top 0.1s ease-out, left 0.1s ease-out, opacity 0.2s ease-in-out;
    pointer-events: none;
    width:50%;
}

.navbar > a {
    padding:2.5vh;
    border-radius:100%;
    transition: outline 0.2s ease-in-out;
}

.navbar > .circled {
    outline: 2px solid white !important;
    transition: outline 0.2s ease-in-out;
}

.cursorOutline {
    position:absolute;
    top:0;
    left:0;
    width:3vw;
    height:3vw;
    border-radius:100%;
    border:2px solid white;
    transform:translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
    z-index:10;
}

.hide {
    opacity:0 !important;
    transition: opacity 0.2s ease-in-out;
}

.navbar {
    position:fixed;
    z-index:5;
    top:0;
    left:0;
    width:94%;
    padding:0 3%;
    justify-content: space-between;
    height:15vh;
    background:none;
    display:flex;
    align-items: center;
    transition:background 0.5s ease;
}

.navbar .menu {
    position:fixed;
    top:0;
    left:0;
    width:16vw;
    height:100vh;
    padding-left:4vw;
    background:black;
    display: flex;
    align-items: center;
    transform:scaleX(0);
    transform-origin:left;
    pointer-events: none;
    transition:transform 0.5s ease;
    transform-origin:left;
    transition-delay:0.2s;
}

.navbar .activated {
    transform:scaleX(1);
    pointer-events: all;
    transition:transform 0.5s ease;
}

.navbar ul {
    display:flex;
    list-style:none;
    flex-direction: column;
    gap:7vh;
}

.navbar ul a {
    text-decoration: none;
    color:white;
    font-size:1.5vw;
    font-weight: 200;
    padding:1vh 1vw;
    transform: translateX(-3vw);
    opacity:0;
    transition:background 0.2s ease-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.navbar .activated li a {
    transform: translateX(0vw);
    opacity:1;
    transition:background 0.2s ease-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition-delay:0.4s;
}

.navbar ul a:hover {
    background:white;
    color:black;
    transition:background 0.2s ease-out, color 0.2s ease-in-out;
}

body {
    background:black;
    color:white;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
    cursor:none;
}

body a {
    cursor:none !important;
}

.hero, .why, .topics, .videos, .articles, .quote, .footer {
    width:90%;
    padding:5vh 5%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:3vh;
    padding-top:10vh;
}

.hero h1, .why h1, .videos h1, .articles h1, .quote h1, .footer h1 {
    font-size:8vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight:200;
    line-height:0.9;
    padding-right:5%;
}

.hero b, .why b, .videos b, .articles b {
    font-weight:900;
}

.hero mark {
    background:none;
    text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;
    font-weight:900;
    transition:color 0.2s ease-in-out;
}

.hero mark:hover, .quote mark:hover {
    color:white;
    transition:color 0.2s ease-in-out;
}

.hero .button, .topics > a {
    padding: 3vh 5vw;
    text-transform:uppercase;
    font-size:1.5vw;
    border:2px solid white;
    display:inline-block;
    width:max-content;
    transition: color 0.2s ease-in-out, background 0.2s ease-out;
}

.hero .button:hover, .topics a:hover {
    color:black;
    background:white;
    transition: color 0.2s ease-in-out, background 0.2s ease-out;
}

.navbar img {
    height:5vh;
}

.why {
    padding-top:5vh;
    position:relative;
}

.why h1 {
    margin-right:10vw;
}

.why a, .videos .details-grid a {
    position:absolute;
    right:5vw;
    bottom:15vh;
    border-radius:100%;
    width:10vw;
    height:10vw;
    border:2px solid white;
    padding:5vw;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:background 0.2s ease-out;
}

.why a img {
    width:10vw;
    margin-top:3vh;
}

.why a:hover, .details-grid a:hover {
    background:white;
    transition:background 0.2s ease-out;
}

#arrow-black, #arrow-black-two, #play, #read {
    z-index:1;
    pointer-events: none;
    width:10vw;
    padding-top:3vh;
    transition:opacity 0.2s ease-in-out;
}

.topics {
    padding-top:5vh;
    position:relative;
    padding:0;
    width:100%;
    align-items: center;
}

.topics h1 {
    font-size:9vw;
    width:max-content;
    letter-spacing:5px;
    font-weight:700;
    transform:translateX(0);
}

.videos h1, .articles h1 {
    font-size:5vw;
    letter-spacing:3px;
}

.videos .video-grid {
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap:1vh;
    grid-column-gap: 1vw;
    margin-top:3vh;
}

.video-grid img {
    width:100%;
    transition:outline 0.2s ease-in-out, transform 0.3s ease;
    outline: 2px solid black;
}

.videos .details-grid a {
    width:3vw;
    height:3vw;
    position:relative;
    padding:2vw;
    right:0;
    bottom:0;
}

.videos .details-grid {
    margin-top:5vh;
    display:flex;
    justify-content: space-between;
}

.videos .details-grid img {
    width:3vw;
    margin-top:1vh;
}

#arrow-black-two {
    width:3vw;
}

.details-grid .text * {
    margin:1vh 0;
}

.details-grid h2, .articles h2 {
    font-size:3vw;
    opacity:0;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    transform: translateY(3vh);
}

.details-grid p, .articles p {
    font-size: 1.5vw;
    font-weight:200;
    opacity:0;
    transition: transform 0.3s ease, opacity 0.2s ease-in-out;
    transform: translateY(3vh);
    transition-delay: 0.1s;
}

.video-grid a:hover > img {
    transform:translateY(3vh);
    transition:transform 0.3s ease, outline 0.2s ease-in-out;
    outline: 2px solid white;
}

#play, #read {
    padding-top:0;
    width:5vw;
}

.articles {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap:1vh;
    grid-column-gap:1vw;
}

.articles img {
    height:40vh;
    transform: translateX(0);
    transition: transform 0.3s ease, outline 0.2s ease-in-out;
    outline: 2px solid black;
    margin-bottom:3vh;
}

.articles a:hover > img {
    transform: translateX(-3vw);
    transition: transform 0.3s ease, outline 0.2s ease-in-out;
    outline: 2px solid white;
}

.articles h1 {
    font-size:6vw;
    margin-bottom:3vh;
}

.articles h2 {
    margin-bottom:1.5vh;
}

.articles p {
    line-height:1.6;
}

#article-image-cell img {
    float:right;
}

.quote {
    background:url('background-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:background 0.2s ease-in-out;
}

.quote h1 {
    word-wrap: break-word;
    font-size:5.1vw;
    color: rgba(255,255,255,0.3);
    line-height:1.1;
    letter-spacing:5px;
    padding-right:0;
    font-weight:900;
}

.quote mark {
    background:none;
    font-weight:900;
    color:white;
    transition:color 0.2s ease-in-out, background 0.2s ease-out;
}

.quote mark:hover {
    color:black;
    background:white;
    transition:color 0.2s ease-in-out, background 0.2s ease-out;
}

.quote h2 {
    font-weight:200;
    font-size:1em;
}

.footer-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap:1vh;
    grid-column-gap:1vw;
    margin-top:5vh;
}

#links-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap:1vh;
    grid-column-gap:1vw;
}

.footer .inner-cell {
    display:flex;
    flex-direction: column;
    gap:3vh;
    justify-content: center;
}

.inner-cell h3 {
    font-size:2vw;
    letter-spacing:0px;
    text-transform:uppercase;
    font-weight:700;
    margin-left:3vw;
}

.inner-cell a {
    text-decoration:none;
    color:white;
    position:relative;
    font-size:1.5vw;
    font-weight:200;
    margin-bottom:1vh;
    margin-left:3vw;
}


.footer h1 {
    font-size:7vw;
    margin-bottom:3vh;
    font-weight:700;
}

.footer-grid > .cell a {
    color:white;
    text-decoration:none;
    padding-bottom:1vh;
    position:relative;
}

.footer h2 {
    font-weight:200;
    font-size:3vw;
    width:max-content;
}

.footer a {
    width:max-content;
}

.footer a::before {
    content:'';
    width:100%;
    height:2px;
    background:white;
    position:absolute;
    bottom:0;
    left:0;
    transform:scaleX(0);
    transition:transform 0.2s ease-in-out;
    transform-origin: right;
}

.footer a:hover::before {
    transform:scaleX(1);
    transition:transform 0.2s ease-in-out;
    transform-origin: left;
}

.footer-grid > .cell a::before {
    transition:transform 0.3s ease-in-out;
}

.footer-grid > .cell a:hover::before {
    transition:transform 0.3s ease-in-out;
}

.footer .copyright, .footer .credits {
    font-size:1.5vw;
    font-weight:200;
    text-transform:uppercase;
}

.footer .copyright, .footer .acknowledgement {
    margin-top:5vh;
}

.footer .acknowledgement {
    font-weight:200;
    font-size:1.25vw;
}

.contact {
    width:80%;
    height:90vh;
    padding:5vh 10%;
}

.contact > iframe {
    width:100%;
    height:100%;
}

.why .char {
    transform: translateY(125px);
    transition:transform 1s ease;
}

.why .line, .footer .line {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.footer h1 .char, .footer h2 .char {
    transform: translateY(100px);
    transition:transform 0.75s ease;
}

.footer > p .word, .footer > h3 .word {
    transform: translateY(50px);
    transition:transform 0.75s ease;
}

.footer .inner-cell h3, .footer .inner-cell a {
    opacity:0;
    transform: translateY(20px);
    transition:transform 0.75s ease, opacity 0.3s ease-in-out;
}

.quote {
    transform:scale(0.9);
    opacity:0.5;
    transition:transform 2s ease, background 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

.quote h1, .quote h2 {
    opacity:0;
    transform:translateY(50px);
    transition:opacity 0.2s ease-in-out, transform 1s ease;
}

.why a {
    transform: scale(1.3);
    opacity:0;
    pointer-events: none;
    transition: background 0.2s ease-in-out, opacity 1s ease-in-out, transform 1s ease;
}

.videos h1, .video-grid .cell {
    opacity:0;
    transform: translateY(100px);
    transition: transform 1s ease, opacity 0.5s ease-in-out;
}

.articles h1 {
    transform:translateX(-100px);
    opacity:0;
    transition: transform 1s ease, opacity 0.5s ease-in-out;
}

#article-image-cell > div {
    transform:translateX(100px);
    opacity:0;
    transition: transform 1s ease, opacity 0.5s ease-in-out;
}
